In [2]:
import pandas as pd
import numpy as np
from  scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [5]:
data=pd.read_csv("Costomer+OrderForm.csv")
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [6]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [7]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [8]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [9]:
observation=np.array([[271,267,269,280],[29,33,31,20]])
observation

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

Assume Null Hypothesis as H0: Independence of categorical variable(customer order forms defective%does not varies by center.
Thus, Alternative hypothesis as Ha Dependence of catagorical variable (customer order forms defective % varies by center

Compare p_value with a =0.05 infrence : As (p_value=0.2771)>(a=0.05);Accept Null Hypothesis i.e Independence of categorical variables Thus, customer order forms defective % does not varies by centre